.App {
   display: grid;
    grid-template-columns: 240px 1fr 320px;
    .menu {

    }

    .container {
        padding: 40px;
        width: 100%;
    }

    .aside {
        width: 320px;
        max-width: 320px;
        height: 100vh;
        border-left: 1px solid #F1F1F2;
        padding: 40px;
    }
}
